@import "src/variables";

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1em solid #ffffff;
  padding: 1em 0;

  h2 {
    font-size: 2em;
    margin: 0;
  }

  a {
      color: #ffffff;
      text-decoration: none;
      background-color: $mainColor;
      padding: 0.5em 1em;
      border-radius: 0.5em;
  }
}
