@import url("https://fonts.googleapis.com/css?family=Rubik");

$primaryBgBlack: #1a1a1a;

$secondaryBgBlack: #232323;

$mainText : #ffffff;

$secondaryText: #c5c5c5;

$mainColor: #580c9b;

$secondaryColor: #3c096b;
