@import "src/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  height: 8em;
  margin: 2em 0;
  background-color: $secondaryBgBlack;

  .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 100%;

    .button-wrap {
      width: 10%;
    }

    img {
      height: 100%;
    }

    h3 {
      font-weight: bold;
      margin: 0;
    }
  }
}
