<div class="header">
  <div class="header__heading">
    <h1><a routerLink="/">Music</a></h1>
  </div>
  <div class="header__links">
    <a routerLink="/audiotracks">Audio Tracks</a>
    <a routerLink="/playlists">My playlists</a>
  </div>
  <div class="header__authentication">
    <a routerLink="/auth" *ngIf="!user">Log in</a>
    <a *ngIf="user" (click)="isDropdownOpen = !isDropdownOpen;">Hi, {{user.username}}!</a>
  </div>
</div>

<div class="dropdown" *ngIf="isDropdownOpen && user" appClickOutside (clickedOutside)="isDropdownOpen = false">
  <div class="info">
    <div class="text-wrap">
      <p class="username">{{user.username}}</p>
      <p class="email">{{user.email}}</p>
    </div>
  </div>
  <hr>
  <button
    class="auth"
    (click)="onLogout()"
  >
    Log out
  </button>
</div>
