<div class="container">
  <div class="main">
    <div class="button-wrap">
      <button mat-icon-button (click)="setActive()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <img src="http://localhost:5000/{{playlist.imagePath}}" alt="{{playlist.name}}"/>
    <h3>{{playlist.name}}</h3>
  </div>
  <div class="operations">
    <button mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="redirect()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
