@import "src/variables";

.container {
  height: 5.5em;
  width: 100%;
  position: fixed;
  bottom: 0;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 1em 2em;
  justify-content: space-between;
  background-color: $mainColor;
  box-shadow: 0 0 1.5em $mainColor;
  color: #ffffff;

  .mat-fab.mat-accent {
    background-color: #ffffff;
  }

  .audio {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }

  .track-bar {
    width: 70%;
  }

  .volume {
    display: flex;
    align-items: center;
  }

  button.inactive {
    color: #808080;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
